
<!DOCTYPE html>
<html lang = "sk"></html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vkladanie kurzu</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
</head>

<body>

    <h2>{{t.novy_kurz}}</h2>
        <form action="/sifrovanie" method="post">
            <label>{{t.meno}}</label><br>
            <input type="text" name="Nazov_kurzu" required><br><br>

            <label>{{t.typ_sportu}}</label><br>
            <input type="text" name="Typ_sportu" required><br><br>

            <label>{{t.id_kurzu}}</label><br>
            <input type="text" name="ID_kurzu" required><br><br>

            <label>{{t.pocet_ucast}}</label><br>
            <input type="text" name="Max_pocet_ucastnikov" required><br><br>

            <label>{{t.id_trenera}}</label><br>
            <input type="text" name="ID_trenera" required><br><br>

            <button type="submit">{{t.vlozit}}</button>
        </form>
        <hr>
        <a href="/">{{t.back}}</a>

</body>
</html>