<!DOCTYPE html>
<html lang="sk"></html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registracia</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
</head>

<body>
    <h2 class=".registracia">{{t.registracia_title}}</h2>
        <form action="/registracia" method="post">
            <label>{{t.meno}}</label><br>
            <input type="text" name="meno" required><br><br>

            <label>{{t.priezvisko}}</label><br>
            <input type="text" name="priezvisko" required><br><br>

            <label>{{t.specializacia}}</label><br>
            <input type="text" name="specializacia" required><br><br>

            <label>{{t.telefon}}</label><br>
            <input type="text" name="telefon" required><br><br>

            <label>{{t.heslo}}</label><br>
            <input type="password" name="heslo" required><br><br>

            <button type="submit">{{t.registrovat}}</button>
        </form>
        <hr>
        <a href="/">{{t.back}}</a>

</body>
</html>