<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Uvodna stranka</title>
</head>

<body>
    <h1>Výber z databázy</h1>
        <a href="/registracia"><button>registracia trenera</button></a>
        <a href="/sifrovanie"><button>registracia kurzu</button></a>
        <a href="/kurzyAtreneri"><button>treneri a ich kurzy</button></a>
        <a href="/kurzy"><button>vsetky kurzy</button></a>
        <a href="/miesta"><button>vsetky miesta</button></a>
        <a href="/kapacita"><button>sucet max. kapacity kurzov na "P"</button></a>
        <hr>
</body>
</html>
