<!DOCTYPE html>
<htmo lang ="sk"></htmo>
<html>
<head>
    <meta charset="UTF-8">
    <title>Uvodna stranka</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
</head>

<body>
    <h1>{{t.uvod}}</h1>
        <a href="/registracia"><button>{{t.registracia_trenera}}</button></a>
        <a href="/sifrovanie"><button>{{t.registracia_kurzu}}</button></a>
        <a href="/kurzyAtreneri"><button>{{t.treneri_kurzy}}</button></a>
        <a href="/kurzy"><button>{{t.vsetky_kurzy}}</button></a>
        <a href="/miesta"><button>{{t.vsetky_miesta}}</button></a>
        <a href="/kapacita"><button>{{t.max_kapacita}}</button></a>
        <hr>
</body>
</html>
